*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #EFEFF2;
}


h1{
    color: #01A1A1;
    font-size: 96px;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
      
    
      
}


.Estrutura{
    width: 1910px;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 800px;
    background-color: rgb(EF,EF,F2);

}

.Dados{
    height: 600px;
    width: 1910px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: aquamarine;


}

.card{
    align-self: center;
    display: flex;
    background-color: blue;
    height: 400px;
    width: 280px;
}